@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu:ital@0;1&display=swap');

* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
body {
  font-family: "Montserrat", sans-serif;
}

/*SECCION SOCIAL MEDIA*/

.container-social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  gap: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.container-social-media .img-logo {
  height: 1.8rem;
}
.container-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}
.container-footer h5 {
  color: #CCC9DC;
  font-size: 0.8rem;
  margin: 0;
}

/* NAVBAR */

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  min-height: 8rem;
}
.nav .logo img {
  width: 8rem;
}
.nav .main-menu li {
  font-size: 1.2rem;
  list-style: none;
  display: inline;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.nav .main-menu a {
  color: white;
  text-decoration: none;
}
.nav .main-menu a:hover {
  color: grey;
}

/* BOTONES NAVBAR*/

.btnLogin, .btnCarrito {
  padding: 0.25rem 1.5rem;
  border-radius: 0.25rem;
  background-color: #244ced;
  color: white;
  border: solid 1px #244ced;
  font-size: 1.2rem;
  padding: 0.1rem 1rem;
  margin-left: 1rem;
}
.btnLogin:hover, .btnCarrito:hover {
  background-color: white;
  color: #0075FF;
}
.buscador {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 8rem;
}
input {
  width: 50%;
  font-size: 1.2rem;
  border-radius: 10px;
  padding: 0.5rem;
  margin-bottom: 2rem;
}

/* SECCION CARRITO*/

main {
  width: 80%;
  margin: auto;
  padding: 20px 0 0 0;
  margin-bottom: 2rem;
}
section h2 {
  font-size: 2rem;
}
.btnAgregar,
.btnQuitar,
.boton {
  color: white;
  background-color: #244ced;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
  border: 1px solid #244ced;
  transition: all 0.2s;
  cursor: pointer;
}
.btnAgregar:hover,
.btnQuitar:hover,
.boton:hover {
  border: 1px solid white;
  scale: 1.05;
}
.producto h2 {
  font-size: 1.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.productoCarrito {
  border-bottom: 2px dashed rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  margin-bottom: 10px;
  line-height: 24px;
}
.productoCarrito h2 {
  margin-bottom: 8px;
  font-size: 1.2rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.ocultar {
  right: -340px;
  transition: all 0.2s;
}
#productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  height: auto;
  padding-top: 2rem;
}
.producto {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  text-align: center;
}
.producto .precio {
  padding: 10px 0;
  font-size: 20px;
  background-color: gray;
  display: inline-block;
  padding: 4px 10px;
  color: white;
  border-radius: 10px;
  margin-top: 4px;
}
.producto .imagen {
  display: flex;
  justify-content: center;
  min-height: 100px;
  margin: 20px 0;
}
.producto .imagen img {
  max-height: 200px;
}
.producto .btnAgregar,
.producto .boton {
  margin: auto;
  display: block;
  text-align: center;
}
.producto:hover {
  border: 1px solid black;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.2);
}
.producto h2 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 350px;
}

@media (max-width: 768px) {
  .main-menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
  }
  .btnLogin, .btnCarrito {
    padding: 0.25rem 1.5rem;
    border-radius: 0.25rem;
    margin: 1rem;
  }
  input {
    width: 100%;
    margin-top: 3rem;
  }
  #productos {
    display: flex;
    flex-direction: column;
  }
  .producto h2 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 280px;
  }
}